<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.base.dao.pdf.mapper.PdfMapper" >
  <resultMap id="BaseResultMap" type="com.base.dao.pdf.entity.Pdf" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="file_name" property="fileName" jdbcType="VARCHAR" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="set_name" property="setName" jdbcType="VARCHAR" />
  </resultMap>
  
  <select id="selectMaxId" resultType="java.lang.Integer">
	SELECT id FROM pdf ORDER BY id DESC LIMIT 0,1
</select>
</mapper>